<section>
    <div class="container">
        <div class="row">
            <div class="col-12  text-center">
                <h3 class="section-title py-4">Angular CLI</h3>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-6 sm-margin-30px-bottom xs-margin-25px-bottom">
               <img class="img-fluid" src="../../../assets/images/undraw_Code_thinking_re_gka2.png" alt="">
            </div>
            <div class="col-lg-6 sm-margin-30px-bottom xs-margin-25px-bottom">
                <div class="royal-course">
                   
                    
                    <h5>O que é CLI ?</h5>
                    <p class="text-justify">A equipe do angular vendo a dificuldade de inciar e gerenciar um novo projeto criaram uma ferramenta de limnha de comando, a Interface de Linha de Comando - Command Line Interface (CLI), tendo como objetivo  facilitar o gerenciamento de projetos escritos nesse framework.</p>
                    
                </div>
            </div>
 
            
        </div>
    </div>
</section>

<section style="background-color: #f0f4ef;">
    <div class="container py-5">
        <div class="row">
            <div class="col-12  text-center">
                <h3 class="section-title pb-3">Instalando o Angular CLI</h3>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-7 sm-margin-30px-bottom xs-margin-25px-bottom">
                <div class="royal-course">
                    
                  
                    <p class="text-justify">Para utilizar o Angular CLI é necessário instlá-lo, lembrando que é primordial que você já tenha feito a instalaçãp do <b>Node.JS</b>.</p>
                    <p class="text-justify">Usaremos o comando npm, necessário para a instalaçãom do Angualr CLI. Vamos para o primeiro comando, para isto abra seu prompt de comando.</p>

                    <div class="codigo"><p class="text-codigo"> <span class="span-codigo">1</span> &nbsp; | &nbsp; npm install -g @angular/cli</p></div>

                    <p class="text-justify pt-3">Após dar enter é só aguardar, pois a instalação pode demorar em tempo considerável até que a instalação esteja concluída. Assim que a instalação terminar já podemos utilizar o Angular Cli através do comando ng, que é um programa pasara ser executado pela linha de comando e está pronto para iniciar um novo projeto.</p>
                    
                </div>
            </div>
            <div class="col-lg-4 offset-md-1 d-flex justify-content-center align-items-center">
                <div>
                      <img class="rotate_01 ml-5" src="../../../assets/images/cogwheel.png" alt="">
                </div>
                <div><img class="rotate_02 mr-5" id="roda" src="../../../assets/images/cogwheel.png" alt=""></div>
              
                
            </div>
 
 
            
        </div>
    </div>
</section>

<section >
    <div class="container py-5">
        <div class="row">
            <div class="col-12  text-center">
                <h3 class="section-title pb-3" >Criando um novo projeto</h3>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/Tela princiapl Angular.png" class="img-fluid" alt="">
                
                
            </div>
 
            <div class="col-lg-6 sm-margin-30px-bottom xs-margin-25px-bottom">
                <div class="">
                    
                  
                    <p class="text-justify">Para criar um novo projeto em angular iremos usar o comando ng new que ao ser executado criará um diretório com uma estrutura base, co arquivos necessários para iniciar uma aplicação. </p>

                    <div class="codigo"><p class="text-codigo"> <span class="span-codigo">1</span> &nbsp; | &nbsp; ng new [nomeProjeto]</p></div>
                

                    <p class="text-justify pt-3">Após a criação do diretório podemos visualizar no servidor todas as alterações realizadas nos arquivos da aplicação, basta utilizar o comando abaixo:</p>

                    <div class="codigo"><p class="text-codigo"> <span class="span-codigo">1</span> &nbsp; | &nbsp; npm install -g @angular/cli</p></div>

                    <p class="text-justify pt-3">Por padrão o servidor criado fica "escutando" na porta 4200, basta inserir o seguinte caminha no seu navegador <b>localhost:4200</b>, a visualização da sua página será como a da imagem ao lado. </p>
                    
                </div>
            </div>
          
        </div>
    </div>
</section>


