<div  class="card-body text-center" >
    <form #dashboardForm="ngForm" class="row">
        <div>
            <label for="junho">Junho</label>
            <input type="text" name="junho" id="junho" class="form-control text-right" placeholder="Insira um valor"
                required>

            <label for="julho">Julho</label>
            <input type="text" name="julho" id="julho" class="form-control text-right" placeholder="Insira um valor"
                required>

            <label for="agosto">Agosto</label>
            <input type="text" name="agosto" id="agosto" class="form-control text-right" placeholder="Insira um valor"
                required>

            <label for="setembro">Setembro</label>
            <input type="text" name="setembro" id="setembro" class="form-control text-right" placeholder="Insira um valor"
                required>

            <div>
                <button type="submit" class="btn btn-success mt-2">Enviar</button>
            </div>



        </div>

    </form>
</div>

<div id="pie_chart"></div>