<div class="container">
    <div class="row custom-section d-flex align-items-center">
        <div class="col-12 col-lg-4">
            <h2>Aprendendo Angular</h2>
       
            <p>Ferramenta que proporciona produtividade e insfrastrutura escalonável</p>
            <a class="btn btn-primary" [routerLink]="['/documentacao']" role="button">Saiba Mais</a>
        </div>
        <div class="col-12 col-lg-8">
            <img class="img-fluid" src="../../../assets/images/mainbenner.png" alt="Team process banner">
        </div>
    </div>
</div>

<section id="sobre" class="pb-5">
    <div class="section-inner">
        <div class="container">
            <div class="row mb60 text-center">
                <div class="col-sm-12">
                    <h3 class="py-3">O que é Angular?</h3>
                 
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                       <p class="lead">É um framework de código aberto mantido pela <b>Google</b> para a criação de Aplicações de Página Única (SPA).</p>
                    <p id="finalidade">Tendo como finalidade deixar o desenvolvimento de aplicação SPA mais simples e otimizado. Podemos desenvolver aplicações para mobile e desktop, tornando o processo modernos e escaláveis.</p>
                    <a class="btn btn-primary mb-4 " id="info" href="#our-team" role="button">Mais Informações</a>
                </div>
                <div class="col-md-8 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-6 wow fadeIn mb40">
                            <div class="icon-box-1 match-height ">
                                
                                <div class="content-area">
                                    <h4 class="title pl-md-4">Produtividade</h4>                                            
                                    <div class="content pl-md-4 pb-5">Construir uma aplicação com angular, permite a redução de código, além de ser intuitivo, dá suporte para a modularização.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn">
                        
                               
                                <div class="content-area">
                                    <h4 class="title pl-md-5">Fácil manuseamento</h4>                                            
                                    <div class="content pl-md-5">Seu manuaseamento é prático e de fácil compreenão, além da disponibilização da documentação, onde é possível buscar muitos conceitos.</div>
                                </div>
                          
                        </div>
                        <div class="col-sm-6 wow fadeIn">
                            <div class="icon-box-1 match-height mb30">
                                
                                <div class="content-area">
                                    <h4 class="title pl-md-4 criacao">Criação de framework</h4>                                            
                                    <div class="content pl-md-4 textoC">Nos permite criar a nossa framework.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                       
                                
                                <div class="content-area testeUnit">
                                    <h4 class="title pl-md-5 testeUnit">Teste unitário</h4>                                            
                                    <div class="content pl-md-5">Permite realizar testes de controles, serviçose diretivas. Essencial para fazer testes fracionados e agilizar a correçaõ de possíveis falhas.</div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
